<section class="slider" style="--slides: 8; --current: 2">
    <div class="slider__container">
      <img
        class="slider__item-el"
        src="<%=require('../images/car_first_slide.png')%>"
        alt="slide image 1"
      />
      <img
        class="slider__item-el"
        src="<%=require('../images/car_second_slide.png')%>"
        alt="slide image 2"
      />
      <img
        class="slider__item-el"
        src="<%=require('../images/car_third_slide.png')%>"
        alt="slide image 3"
      />
      <img
        class="slider__item-el"
        src="<%=require('../images/car_forth_slide.png')%>"
        alt="slide image 4"
      />
      <img
        class="slider__item-el"
        src="<%=require('../images/car_fith_slide.png')%>"
        alt="slide image 5"
      />
      <img
        class="slider__item-el"
        src="<%=require('../images/car_sixth_slide.png')%>"
        alt="slide image 6"
      />
      <img
        class="slider__item-el"
        src="<%=require('../images/car_seventh_slide.png')%>"
        alt="slide image 7"
      />
      <img
        class="slider__item-el"
        src="<%=require('../images/car_eighth_slide.png')%>"
        alt="slide image 8"
      />
    </div>
  </section>