<% let index = 1; %> <% let even = true; %> <%
advantagesData.advantages.forEach(({ name, imgPath, description }) => { %> <%
index++; %> <% if (index % 3) even = !even; %>
<article class="service <%= even ? 'service_type_even' : 'service_type_odd' %>">
  <div class="service__container">
    <div class="service__container-info">
      <img src="<%= imgPath %>" alt="<%= name %>" class="service__icon service__icon_small" />
      <h3 class="service__title"><%= name %></h3>
      <p class="service__about"><%= description %></p>
    </div>
  </div>
</article>
<% }); %>
